@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour--bg-1: #181818;
  --colour--bg-2: #212121;
  --colour--bg-3: #252525;
  --colour--bg-4: #323232;
  --colour--border-1: #323232;
  --colour--border-2: #2a2a2a;
  --colour--bg-5: green;
}

body {
  background-color: var(--colour--bg-1);
  @apply text-gray-200;
}

h1 {
  @apply text-3xl font-bold text-white;
}
